html {
    font-family: sans-serif;
}

#footer {
    text-align: center;
    color:#555;
    font-size:10pt;
    border-top:1px dotted gray;
    margin:10pt;
}

#footer ul {
    width: 100%;
    text-align: center;
    padding: 0;
}

#footer li {
    display: inline-block;
    padding: 2.5pt 2.5pt 2.5pt 5pt;
    border-left: 1px solid gray;
    text-align: center;
}

#footer li:first-of-type {
    border-left: none;
}

.web_link {
    display: inline-block;
}

.web_link a {
    border:1px solid gray;
    padding:5pt;
    background-color: #eee;
    color:#444;
    text-decoration: none;
    border-radius:3pt;
}

.web_link a:hover {
    border-color:#990;
    background-color: yellow;
    color:#650;
}

.flash li.success {
    color:green;
    border-color: green;
    background-color: #CFC;
}

.flash li.error {
    color:red;
    border-color: red;
    background-color: #FCC;
}

.flash li.message {
    color:#777;
    border-color: #777;
    background-color: #CCC;
}

.flash li {
    display: block;
    padding: 10pt;
    border:1px solid
}

.flash .error {
    color:red;
}

.upload_pending {
    color:red;
}

.contributor_profile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: 1px solid gray;
    width:80%;
    margin:auto;
}

.contributor_profile img.portrait {
    max-width: 20%;
    margin:10pt;
}

.contributor_profile div {
    flex-grow: 1;
}

#file_list li {
    list-style: none;
    display:flex;
    justify-content: space-between;
    width:80%;
    border:1px solid #aaa;
    padding: 10pt;
    margin-bottom: 5pt;
    cursor: move;
}

#file_list li.sort_placeholder {
    border:1px dashed #ddd;
}

#web_presence_list li {
    list-style: none;
    display:flex;
    justify-content: space-between;
    width:40%;
    border:1px solid #aaa;
    padding: 10pt;
    margin-bottom: 5pt;
    cursor: move;
}

#web_presence_list li.sort_placeholder {
    border:1px dashed #ddd;
}

#infinite_canvas img {
    max-width: 100%;
}

.interact {
    cursor:pointer;
}

img.portrait {
    max-width:250px;
    display: block;
    margin:auto;
}

#portrait_editor img {
    max-width:250px;
}

#registration p {
    font-style: italic;
    font-size:10pt;
    color:#888;
}

#turnable_page #page_display {
    width:100%;
}