html {
    font-family: sans-serif;
}

.message {
    text-align:center;
}

.flash {
    border:1px solid red;
    color: red;
}

.upload_pending {
    color:red;
}

#file_list li {
    list-style: none;
    display:flex;
    justify-content: space-between;
    width:80%;
    border:1px solid #aaa;
    padding: 10pt;
    margin-bottom: 5pt;
    cursor: move;
}

#file_list li.sort_placeholder {
    border:1px dashed #ddd;
}

#web_presence_list li {
    list-style: none;
    display:flex;
    justify-content: space-between;
    width:40%;
    border:1px solid #aaa;
    padding: 10pt;
    margin-bottom: 5pt;
    cursor: move;
}

#web_presence_list li.sort_placeholder {
    border:1px dashed #ddd;
}

#infinite_canvas img {
    max-width: 100%;
}

.interact {
    cursor:pointer;
}

img.portrait {
    max-width:250px;
    display: block;
    margin:auto;
}

#portrait_editor img {
    max-width:250px;
}

#registration p {
    font-style: italic;
    font-size:10pt;
    color:#888;
}

#turnable_page #page_display {
    width:100%;
}