html {
    font-family: sans-serif;
}

.message {
    text-align:center;
}

.warn {
    border:1px solid red;
    color: red;
}

.upload_pending {
    color:red;
}

#file_list li {
    list-style: none;
    display:flex;
    justify-content: space-between;
    width:80%;
    border:1px solid #aaa;
    padding: 10pt;
    margin-bottom: 5pt;
    cursor: move;
}

#file_list li.sort_placeholder {
    border:1px dashed #ddd;
}

#infinite_canvas img {
    max-width: 100%;
}

.interact {
    cursor:pointer;
}