<!doctype html>
<title>{% block title %}{% endblock %} - {{ config.SITENAME }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<div>
    <div><h1>{{ config.SITENAME }}</h1></div>
    <nav>
        <ul>
            {% for link in navlinks %}
            <li><a href="/">{{ link }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>
<div class="maincontainer">
<section class="content">
    <h2>
        {% block pageheader %}{% endblock %}
    </h2>
{%  block content %}
{% endblock %}
</section>
    </div>