<!doctype html>
<head>
<title>{% block title %}{% endblock %} - {{ config.SITENAME }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{% block scripts %}
{% endblock %}
</head>
<body>
<div>
    <div><h1><a href="{{ url_for('routes.index') }}">{{ config.SITENAME }}</a></h1></div>
    <nav>
        <ul>
            {% for link in navlinks %}
            <li><a href="/">{{ link }}</a></li>
            {% endfor %}
        {% if g.user %}
        <li><a href="{{ url_for('routes.user_profile', username=g.user['username']) }}" >{{ g.user['full_name'] }}</a> - <a href="{{ url_for('auth.logout') }}">Log out</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
            {% if config['ALLOW_REGISTRATION'] %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
        {% endif %}
        </ul>
    </nav>
</div>
<div class="maincontainer">
<section class="content">
    <h2>
        {% block pageheader %}{% endblock %}
    </h2>
{%  block content %}
{% endblock %}
</section>
    </div>
</body>

