<!doctype html>
<head>
<title>{% block title %}{% endblock %} - {{ config.SITENAME }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
{% block scripts %}
{% endblock %}
</head>
<body>
<div id="header">
    <div id="sitename"><h1><a href="{{ url_for('routes.index') }}">{{ config.SITENAME }}</a></h1></div>
    <nav>
        <ul>
            {% for link in navlinks %}
            <li><a href="/">{{ link }}</a></li>
            {% endfor %}
        {% if g.user %}
            <li><a href="{{ url_for('routes.user_profile', username=g.user['username']) }}" class="username">{{ g.user['full_name'] }}</a></li>
            <li><a href="{{ url_for('routes.workspace') }}">Workspace</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
        {% endif %}
        </ul>
    </nav>
</div>
<div id="maincontainer">

    {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash">
            {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>

        {% endif %}
    {% endwith %}

<section class="content">
    <h2 id="header_title">
        {% block pageheader %}{% endblock %}
    </h2>
{%  block content %}
{% endblock %}
</section>
    </div>
<div id="footer">
    <ul>
        <li><a href="{{ url_for('routes.about') }}">About</a></li>
        <li><a href="{{ url_for('routes.contributors') }}">Contributors</a></li>
    <li><a href="{{ url_for('routes.comic_archive') }}">Archive</a></li>
        {% if g.user %}
            <li><a href="{{ url_for('routes.workspace') }}">Workspace</a></li>
            {% if g.user['user_group']=='admin' %}
    <li><a href="{{ url_for('routes.site_settings') }}">Admin</a></li>
{% endif %}
            <li><a href="{{ url_for('auth.logout') }}">Log out</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.login') }}">Log in</a></li>
            {% if config['ALLOW_REGISTRATION'] %}
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                {% endif %}
        {% endif %}
    </ul>
<a href="https://github.com/ivyallie/Lucaflect"  title="Lucaflect version&colon; {{ config.LUCAFLECT_VERSION }}">
    <svg class="footer_logo" viewBox="0 0 512 512" alt="Lucaflect logo" >
       <path class="st0" d="M415.98,221.47"/>
<g>
	<path d="M151.17,135.75c44.94-43.63,88.13-67.73,117-80.37c7.8-3.42,14.96-6.19,21.38-8.45c-19.06-2.66-59.03-6.86-59.03-6.86
		s-55.79,11.44-116.61,62.9c-0.65,0.55-1.28,1.1-1.92,1.65L151.17,135.75z"/>
	<path d="M315.72,51.61c-9.15,2.22-24.31,6.65-43.25,14.99c-27.59,12.14-68.77,35.17-111.83,76.69l118.73,94.34
		c0.38-0.35,0.75-0.7,1.14-1.04c138.95-126.16,213.95-129.65,213.95-129.65S393.61,67.91,315.72,51.61z"/>
	<path d="M143.07,161.23c-39.37,42.71-58.95,82.36-68.53,108.93c-6.15,17.07-9.02,30.9-10.37,39.96
		c18.97,51.91,61.68,155.53,61.68,155.53s13.01-85.22,120.06-195.63L143.07,161.23z"/>
	<path d="M63.02,266.76c9.98-27.92,30.45-69.6,71.79-114.27l-34.79-36.8c-49.45,49.12-63.11,105.77-63.11,105.77
		s12.45,43.56,19.61,66.34C58.15,281.49,60.27,274.45,63.02,266.76z"/>
</g>
    </svg>
    </a>
</div>
</body>

