{% extends 'basis.html' %}
{% block title %}{{ collection['title'] }}{% endblock %}
{% block pageheader %}{{ collection['title'] }}{% endblock %}
{% block content %}
    {%  if (collection['show_tools']) %}
        <div id="post-tools">
        <a href="{{ url_for('content.open_collection_editor', title=collection['internal_title']) }}">
        Edit this</a> &bullet; <a href="{{  url_for('content.delete_collection', title=collection['internal_title']) }}">Delete this</a>
        </div>
    {% endif %}
    {{ collection['description'] }}
    {% if collection['sequence'] %}
        <ul>
        {% for comic in collection['sequence'] %}
            <li><a href="{{ url_for('routes.get_single_comic',title=comic['internal_title']) }}"><span class="author">{{ comic['author'] }}</span><h3>{{ comic['title'] }}</h3></a></li>
        {% endfor %}
        </ul>
<p>Posted by {{ collection['author'] }} at {{ collection['time'] }}.</p>
    {% endif %}
{% endblock %}