{% extends 'basis.html' %}
{% block title %}Collection Editor{% endblock %}
{% block pageheader %}Collection Editor{% endblock %}
{% block content %}
    {% if content %}
    <a href="{{ url_for('routes.display_collection',title=content['internal_title']) }}">View collection &raquo;</a>
    {% endif %}
    <h3>Meta</h3>
    <form>
        <label for="title">Title</label>
        <input id="title"
         {% if content %}
                value="{{ content['title'] }}"
               {% endif %}
        />
        <label for="description">Description</label>
        <textarea id="description">{% if content %}{{ content['description'] }}{% endif %}</textarea>
    </form>
    <h3>Sequence</h3>
    <div id="collection_sequencer">
        <ul id="authors">
            {% for author in authors %}
                <li>
                    <button onclick="listComicsByAuthor({{ author['user_id'] }})">{{ author['full_name'] }}</button>
                </li>
            {% endfor %}
        </ul>
        <ul id="comic_menu" class="sortable js-sortable-menu">
        </ul>
        <ul id="collection_sequence" class="sortable js-sortable-sequencer">

        </ul>

    </div>
    <button type="submit" onclick="postCollection()"
    {% if content %}data-id="{{ content['collection_id'] }}"{% else %}data-id=""{% endif %}
    id="submit_button" >Post Collection</button>

    <template id="comic_menu_listing">
        <li draggable="true"><span></span><a href="" target="_blank" rel="noopener noreferrer">View</a>
        <button type="button" title="delete" class="delete" onclick="remove_from_list(this)">&times;</button> </li>
    </template>

    {% if content %}
    <script>
    let initialize_editor = function () {
        let sequence = {{ content.sequence | safe }};
        let sequence_editor = document.getElementById('collection_sequence');
        let listing_template = document.getElementById('comic_menu_listing');
        //console.log(sequence);
        //console.log(typeof(sequence))
        for (i=0;i<sequence.length;i++) {
            let clone = listing_template.content.cloneNode(deep = true,);
            let name = clone.querySelector('span');
            let viewlink = clone.querySelector('a');
            name.innerHTML = sequence[i]['title'];
            name.setAttribute('title', sequence[i]['internal_title']);
            viewlink.setAttribute('href', '/comic/' + sequence[i]['internal_title']);
            sequence_editor.appendChild(clone)
        }


    }
    initialize_editor()
    </script>
    {% endif %}
    <script src="{{ url_for('static',filename='common.js') }}"></script>
    <script src="{{ url_for('static', filename='html5sortable.js') }}"></script>
    <script>
        sortable('.js-sortable-menu', {
            acceptFrom: false,
            copy: true,
            placeholderClass: 'sort_placeholder',
            hoverClass: 'sort_hover',
        });
        sortable('.js-sortable-sequencer', {
            acceptFrom: '.js-sortable-menu, .js-sortable-sequencer',

            //forcePlaceholderSize: true,
            placeholderClass: 'sort_placeholder',
            hoverClass: 'sort_hover',
        });
    </script>

    <script>
        let comic_menu = document.getElementById('comic_menu');

        let listComicsByAuthor = function (id) {

            fetch('/getcomics/' + id, {
                method: 'GET',
                headers: {'Content-Type': 'application/json'},
            })
                .then(response => response.json())
                .then(result => {
                    //console.log(result['comics']);
                    let comics = result['comics'];
                    generateMenu(comics);
                    console.log('Comics:', comics);
                })
                .catch(error => {
                    console.log('Error:', error);
                })

        }

        let generateMenu = function (comics) {
            let listing_template = document.getElementById('comic_menu_listing');
            comic_menu.innerHTML = '';
            for (c = 0; c < comics.length; c++) {
                let clone = listing_template.content.cloneNode(deep = true,);
                let name = clone.querySelector('span');
                let viewlink = clone.querySelector('a');
                name.innerHTML = comics[c]['title'];
                name.setAttribute('title', comics[c]['internal_title']);
                viewlink.setAttribute('href', '/comic/' + comics[c]['internal_title']);
                comic_menu.appendChild(clone)
            }


        }

        let postCollection = function () {
            let title = document.getElementById('title');
            let description = document.getElementById('description');
            let sequence = getComicSequence();
            let submit_button = document.getElementById('submit_button');
            let collection_id = null;
            if (submit_button.getAttribute('data-id')) {
                collection_id = submit_button.getAttribute('data-id')
            };
            let collection = {
                'title': title.value,
                'description': description.value,
                'sequence': sequence,
                'id':collection_id
            };
            let collection_json = JSON.stringify(collection);
            fetch('/collection/post', {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: collection_json,
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Something went wrong');
                    }
                    return response.json();
                })
                .then(result => {
                    let redirect = result['redirect'];
                    window.location.replace(redirect);
                })
                .catch((error) => {
                    alert('Post failed.');
                })

        }

        let getComicSequence = function () {
            //console.log('Image list');
            let collection_sequence = document.getElementById('collection_sequence');
            let list_elements = collection_sequence.querySelectorAll('li');
            let comic_sequence = [];
            for (i = 0; i < list_elements.length; i++) {
                let title_element = list_elements[i].querySelector('span');
                let internal_title = title_element.getAttribute('title');
                comic_sequence.push(internal_title);
            }
            return comic_sequence
        };


    </script>

{% endblock %}