{% extends 'basis.html' %}

{% block title %}Comic Editor{% endblock %}
{% block pageheader %}Comic Editor{% endblock %}
{% block content %}



    <form method="post">

    <section class="editor">
        <div class="column_area">
            <div class="column">
        <div>
            <label for="title">Title</label>
            <input id="title" name="title" value=""/>
        </div>
        <div>
             <label for="body">Description</label>
            <textarea name="body" id="body"></textarea>
        </div>
           <div style="display: none;">
               
           
            <label for="tags">Tags:</label>
            <input name="tags" id="tags"/>
               </div>

                <label>Display as</label>
            <div class="radio">
                    <div>
                     <input type="radio" id="pageturns" name="comictype" value="pageturns" title="One page will be displayed at a time, with Next and Back buttons."> <label for="pageturns" title="One page will be displayed at a time, with Next and Back buttons.">Page Turns</label>
                </div>
               <div>
                   <input type="radio" id="infinitecanvas" name="comictype" value="infinitecanvas" checked title="All pages will be displayed at once in a vertical column."><label for="infinitecanvas" title="All pages will be displayed at once in a vertical column."> Infinite Canvas</label>
               </div>



                </div>
            </div>
        <div class="column">
                        <button type="button" onclick="postComic()" id="post-button" data-id="">Post <img src="{{ url_for('static', filename='/icons/post.svg') }}"/></button>
{% if title %}

                <a href="{{ url_for('routes.get_single_comic', title=title) }}" class="view_comic basic_button">
                    <img src="{{ url_for('static', filename='/icons/view.svg') }}"/>view comic</a>

        {% endif %}
        </div>

            </div>
            </section>

    <section class="editor">
            <div id="preview_image_picker">
                <h3>Preview Image</h3>
                <span class="help">Add an image that will represent this comic when displayed in a list or collection.</span>
                <img src="" id="preview_image"/>
                <button type="button" id="preview_button" onclick="choose_new_preview()">
                    <img src="{{ url_for('static', filename='/icons/add.svg') }}"/>
                    add preview image</button>
                <button type="button" id="delete_preview" onclick="remove_preview()">
                    <img src="{{ url_for('static', filename='/icons/delete.svg') }}"/>
                    delete preview image</button>
                <input type="file" id="preview_image_filepicker" style="display: none;">
            </div>
</section>
        </form>


    <section class="editor">
        <h3>Pages</h3>
        <span class="help">Add or remove comic pages here. Drag to rearrange.</span>
        <input type="file" id="files" multiple style="display: none;">
        <button type="button" id="add-images">
            <img src="{{ url_for('static', filename='/icons/add.svg') }}"/> add images
        </button>
        <ul id="file_list" class="js-sortable comic">


        </ul>
    </section>



    <template id="listed_file_template">
        <li draggable="true" data-imgurl="" class="comic_page_listing"><span class="display_text"></span>
            <div><button title="View" onclick="view_comic_image(this)"><img src="{{ url_for('static', filename='/icons/view.svg') }}"/></button>
            <button onclick="remove_from_list(this)" title="Delete">
                    <img src="{{ url_for('static', filename='/icons/delete.svg') }}"/></button></div>

        </li>
    </template>
    {% if content %}
        <script src="{{ url_for('static', filename='initialize_editor.js') }}"></script>
        <script>
            let content_json = JSON.parse('{{ content | tojson | safe }}');
            initialize_editor(content_json)</script>
    {% endif %}
    <script src="{{ url_for('static', filename='html5sortable.js') }}"></script>
    <script>
        sortable('.js-sortable', {
            forcePlaceholderSize: true,
            placeholderClass: 'sort_placeholder',
        });
    </script>
    <script src="{{ url_for('static', filename='image_upload.js') }}"></script>
    <script src="{{ url_for('static', filename='post_comic.js') }}"></script>
    <script src="{{ url_for('static', filename='common.js') }}"></script>


{% endblock %}
{% block scripts %}

{% endblock %}