{% extends 'basis.html' %}

{% block title %}Comic Editor{% endblock %}
{% block pageheader %}Comic Editor{% endblock %}
{% block content %}
<form method="post">
<label for="title">Title</label>
<input id="title" name="title"/>
<label for="body">Body:</label>
<textarea name="body" id="body"></textarea>
<label for="tags">Tags:</label>
<input name="tags" id="tags"/>
<input type="submit" value="Post"/>

</form>

    {{ dropzone.load_css() }}
    {{ dropzone.load_js() }}
    {{ dropzone.create(action=url_for('content.upload')) }}


{% endblock %}
{% block scripts %}

{% endblock %}