{% extends 'basis.html' %}
{% block title %}Index{% endblock %}
{% block pageheader %}Index{% endblock %}
{% block content %}
    {% if comics %}
        {% for comic in comics %}
            <section>
                <h3>{{ comic['title'] }}</h3>
                <p>{{ comic['body'] }}</p>
                <ul>
                    {% for tag in comic['tags'] %}
                        <li>{{ tag }}</li>
                    {% endfor %}
                </ul>
            </section>
        {% endfor %}
    {% endif %}
{% endblock %}