<!-- Use JS at a later date to validate email address and prevent incomplete form submission -->
{% extends 'basis.html' %}
{% block title %}Register{% endblock %}
{% block pageheader %}Register{% endblock %}
{% block content %}
</div>
    <form method="post" id="registration">
    <div>
        <label for="username">Username</label>
        <input name="username" id="username">
        <p>This is the name you will use to log in, and will appear in URLs related to your work.</p>
    </div>
        <div>
        <label for="fullname">Full name</label>
        <input name="fullname" id="fullname" required>
            <p>Your name as it will be displayed on the site.</p>
        </div>

<div>
        <label for="password">Password</label>
    <input type="password" name="password" id="password">
</div>

        {%  if config['USE_REG_KEY'] %}
            <div>
        <label for="key">Registration key:</label>
        <input name="key" id="key" type="password"/>
            <p>Enter the registration key given to you by the site administrator.</p>
            </div>
        {% endif %}
        <input type="submit" value="Register">
    </form>
{% endblock %}