{% extends 'basis.html' %}
{% block title %}{{ content['title'] }}{% endblock %}
{% block content %}

    <section id="single_comic_header">

    <div class="title">
        {%  if (content['show_tools']) %}
        <div id="post-tools">
        <a href="{{ url_for('content.open_comic_editor', title=content['internal_title']) }}" title="Edit this">
        <img src="{{ url_for('static', filename='icons/edit.svg') }}"/></a>
            {% if (content['user_is_admin']) %}
                {% if content['draft'] %}
        <a href="{{ url_for('content.approve_comic', title=content['internal_title']) }}" title="Approve {{ content['title'] }}">
            <img src="{{ url_for('static', filename='/icons/approve.svg') }}"/></a>
                    {% else %}
            <a href="{{ url_for('content.retract_comic', title=content['internal_title']) }}" title="Retract {{ content['title'] }}">
            <img src="{{ url_for('static', filename='/icons/retract.svg') }}"/></a>
                    {% endif %}
            {% endif %}
            <a href="{{  url_for('content.delete_comic', title=content['internal_title']) }}" title="Delete this">
                <img src="{{ url_for('static', filename='icons/delete.svg') }}"/>
               </a>
        </div>
    {% endif %}
        <h2>{{ content['title'] }}</h2>
        <span class="author">by <a href="{{ url_for('routes.user_profile', username=content['author_username']) }}">{{ content['author'] }}</a></span>
        <span class="time">Posted {{ content['time'] }}</span>
    </div>

        {% if content['body'] %}
        <div class="description">
            <p>{{ content['body'] }}</p>
        </div>
    {% endif %}

    </section>
{% if (content['format'] == 'infinite_canvas') %}
    <section id="infinite_canvas">
    {% for i in content['imagelist'] %}

    <img src="/uploads/{{ i }}" alt="{{ content['title'] }}" />

    {% endfor %}
    </section>
    {% else %}
    <section id="turnable_page">

        {% if content['imagelist'] | length > 1 %}
            <img src="" id="page_display" class='interact' onclick="nextPage()" />
    <img src="" id="next_page" style="display: none;"/>
    <div id="pageturn_navigation">
        <button type="button" id="back-button" onclick="previousPage()">&laquo; Back</button>
        <button type="button" id="next-button" onclick="nextPage()">Next &raquo;</button>
    </div>
            {% else %}
             <img src="" id="page_display" />
    <img src="" id="next_page" style="display: none;"/>
    <div style="display: none;">
        <button type="button" id="back-button" onclick="previousPage()">Back</button>
        <button type="button" id="next-button" onclick="nextPage()">Next</button>
    </div>

            {% endif %}
    </section>

{% endif %}


{% if user %}
    <section>
<div class="contributor_profile mini">
    <img
    {% if not user['portrait'] or user['portrait']=='default_portrait.jpg' %}
        src="{{ url_for('static', filename='default_portrait.jpg') }}"
    {% else %}
        src="{{ url_for('routes.uploaded_file', filename=user['portrait'])  }}"
    {% endif %}
id="portrait" class="portrait"/>
    <div class="column">
        <h4><a href="{{ url_for('routes.user_profile', username=user['username']) }}">About {{ user['full_name'] }}</a></h4>
    <p>{{ user['bio'] }}</p>
    {% if user['web_links'] | length > 0 %}
        <div class="contributor_weblinks">
        <ul class="weblinks">
        {% for link in user['web_links'] %}
            <li class="web_link">
            <a href="{{ link['link_url'] }}">{{ link['link_name'] }}</a>
            </li>
            {% endfor %}
    </ul>
        </div>
        {% endif %}
    </section>
{% endif %}

            <section id="copyright">
    <p>&copy;{{ content['year'] }} by {{ content['author'] }}. All rights reserved.</p>
    </section>


    <!-- <script src="{{ url_for('static', filename='page_turns.js') }}"></script> -->
    <script>
    let image_list = {{ content.imagelist | safe }};
    let page_display = document.getElementById('page_display');
    let next_page = document.getElementById('next_page');
    let next_button = document.getElementById('next-button');
    let previous_button = document.getElementById('back-button');

    let showPage = function(page) {
        let file = image_list[page];
        let next_page_number = parseInt(page)+1;
        if (!(next_page_number>=image_list.length)) {
            let next_file = image_list[next_page_number];
            next_page.setAttribute('src', '/uploads/' + next_file);
        }
        page_display.setAttribute('src', '/uploads/'+file);
        setControlContext(page);
    };

    let getPageFromURL = function () {
        let url = window.location.search;
        let url_parameters = new URLSearchParams(url);
        let page = parseInt(url_parameters.get('page')) ;
        if (page>0) {
            return page
        } else {
            return 0
        }
    };

    let nextPage = function() {
      let current_page = getPageFromURL();
      if ((current_page+1)<image_list.length) {
          showPage(current_page+1);
          let url = new URL(window.location);
          url.searchParams.set('page',current_page+1);
          window.history.pushState('','',url);
      }
    };

    let previousPage = function() {
        let current_page = getPageFromURL();
        if ((current_page-1)>-1) {
            showPage(current_page-1);
            let url = new URL(window.location);
            url.searchParams.set('page',current_page-1);
            window.history.pushState('','',url);
        }
    };

    let setControlContext = function(page) {
        let highest_index = image_list.length - 1;
        if (page === highest_index) {
        next_button.disabled = true;
        previous_button.disabled = false;
        page_display.classList.remove('interact');
        } else if ((0 < page) && (page < highest_index)) {
            next_button.disabled = false;
            previous_button.disabled = false;
            page_display.classList.add('interact');
        } else if (page === 0) {
            next_button.disabled = false;
            previous_button.disabled = true;
            page_display.classList.add('interact');
        }
    };

    let initialize = function() {
        let page = getPageFromURL();
        showPage(page)
    };


    window.onload = function() {
        initialize();
    };

    window.addEventListener('popstate', function() {
        //fetch correct comic when reached by back/forward browser navigation
        let page=getPageFromURL();
        showPage(page);
    })


    </script>
{% endblock %}