{% extends 'basis.html' %}
{% block title %}Edit Profile: {{ user['full_name'] }}{% endblock %}
{% block pageheader %}Edit Profile: {{ user['full_name'] }}{% endblock %}
{% block content %}
<form method="post">

<div id="portrait_editor">
    <img src="/uploads/{{ portrait }}" id="portrait"/>
     <button type="button" id="portrait_button" onclick="chooseNewPortrait()">Upload portrait</button>
    <input type="file" id="portrait_filepicker" style="display: none;">
</div>

<label for="name">Name</label>
    <input id="name" name="name" required="True" value="{{ user['full_name'] }}"/>

    <label for="email">Email</label>
    <input id="email" name="email" type="email" value="{{ user['email'] }}"/>
    <label for="bio">Bio</label>
    <textarea id="bio">{{ bio }}</textarea>

    <div id="web_presence_editor">
        <h4>Web Presence Links</h4>
        <ul id="web_presence_list" class="js-sortable">
        </ul>



    <button type="button" onclick="add_web_presence()">+ Add link</button>
    </div>

<button type="button" onclick="applyChanges({{ user.user_id }})">Apply changes</button>
</form>

        <template id="web_presence_entry">
 <li draggable="true" data-imgurl="" ><input class="wp_title" required="true" placeholder="Example"/><input required='true' class="wp_url" placeholder="example.com/you"/><button type="button" onclick="remove_from_list(this)">&times;</button> </li>
</template>
    <script src="{{ url_for('static', filename='user_editor.js') }}"></script>
        <script src="{{ url_for('static', filename='html5sortable.js') }}" ></script>
<script>
sortable('.js-sortable', {
        forcePlaceholderSize: true,
        placeholderClass: 'sort_placeholder',
        hoverClass: 'sort_hover',
    });

document.addEventListener("load", populateLinks({{ web_links | safe }}))
</script>
        <script src="{{ url_for('static', filename='upload_portrait.js') }}" ></script>
{% endblock %}