{% extends 'basis.html' %}
{% block title %}{{ user['full_name'] }}{% endblock %}
{% block pageheader %}{{ user['full_name'] }}{% endblock %}
{% block content %}
    <div id="user_profile">
    <section>
        <img
    {% if not meta['portrait'] or meta['portrait']=='default_portrait.jpg' %}
        src="{{ url_for('static', filename='default_portrait.jpg') }}"
    {% else %}
        src="{{ url_for('routes.uploaded_file', filename=meta['portrait'])  }}"
    {% endif %}
id="portrait" class="portrait"/>
<p>{{ meta['bio'] }}</p>
    <ul>
    {% for link in web_links %}
    <li><a href="{{ link['link_url'] }}">{{ link['link_name'] }}</a></li>
    {% endfor %}
    </ul>

    {% if g.user['user_id'] == user['user_id'] or g.user['user_group']=='admin' %}
    <span><a href="{{ url_for('auth.edit_user', username=user['username']) }}">Edit profile</a></span>
    {% endif %}
    </section>
    <section>
        {% if comics %}
        <h3>Comics by {{ user['full_name'] }}</h3>
        <ul>
            {% for comic in comics %}
            <li><a href="{{ url_for('routes.get_single_comic', title=comic['internal_title']) }}">{{ comic['title'] }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}


    </section>

    </div>
{% endblock %}