{% extends 'basis.html' %}
{% block title %}Workspace{% endblock %}
{% block pageheader %}Workspace{% endblock %}
{% block content %}
    <section>
    <ul class="workspace_links">
<li><a href="/new">New Comic</a></li>
<li><a href="{{ url_for('auth.edit_logged_in_user') }}">Edit profile</a></li>
{% if g.user['group']=='admin' %}
    <li><a href="{{ url_for('routes.site_settings') }}">Site administration</a></li>
{% endif %}
</ul>
    </section>

    <section>
    <h3>Your Comics</h3>
    <ul>
        {% for comic in comics %}
        <li>
            <div>
                <a href="{{ url_for('routes.get_single_comic', title=comic['internal_title']) }}">{{ comic['title'] }}</a>
            </div>
            <div>
                <ul>
                    <li><a href="{{ url_for('content.open_comic_editor',title=comic['internal_title']) }}">Edit</a></li>
                    <li><a href="{{ url_for('content.delete_comic', title=comic['internal_title']) }}">Delete</a></li>
                </ul>
            </div>

        </li>
    {% endfor %}
    </ul>
    </section>


{% endblock %}