{% extends 'basis.html' %}
{% block title %}Workspace{% endblock %}
{% block pageheader %}Workspace{% endblock %}
{% block content %}

    <section id="workspace_buttons">
    <ul class="workspace_links">
<li><a href="{{ url_for('content.new') }}">
    <img src="{{ url_for('static', filename='icons/comic.svg') }}"/>
    <div>new comic</div></a></li>

    <li><a href="{{ url_for('content.new_collection') }}">
        <img src="{{ url_for('static', filename='icons/collection.svg') }}"/>
        <div>new collection</div></a></li>


<li><a href="{{ url_for('auth.edit_user', username=g.user['username']) }}">
    <img src="{{ url_for('static', filename='icons/user.svg') }}"/>
    <div>edit profile</div></a></li>
{% if g.user['user_group']=='admin' %}
    <li><a href="{{ url_for('routes.site_settings') }}">
        <img src="{{ url_for('static', filename='icons/settings.svg') }}"/>
        <div>site admin</div></a></li>
{% endif %}
</ul>
    </section>

    {% if comics %}
    <section class="workspace_list">
    <h3>Your Comics</h3>
    <ul class="entry_list">
        {% for comic in comics %}
        <li>
            <div>
                <a href="{{ url_for('routes.get_single_comic', title=comic['internal_title']) }}">{{ comic['title'] }}</a>
            </div>
            <div>
                <ul>
                    <li><a href="{{ url_for('routes.get_single_comic', title=comic['internal_title']) }}" class="edit_button" title="View &quot;{{ comic['title'] }}&quot;"><img src="{{ url_for('static', filename='icons/view.svg') }}"/></a></li>
                    <li><a href="{{ url_for('content.open_comic_editor',title=comic['internal_title']) }}" class="edit_button" title="Edit &quot;{{ comic['title'] }}&quot;"><img src="{{ url_for('static', filename='icons/edit.svg') }}"/></a></li>
                    <li><a href="{{ url_for('content.delete_comic', title=comic['internal_title']) }}" class="delete_button" title="Delete &quot;{{ comic['title'] }}&quot;"><img src="{{ url_for('static', filename='icons/delete.svg') }}"/></a></li>
                </ul>
            </div>

        </li>
    {% endfor %}
    </ul>
    </section>
    {% endif %}

    {% if collections %}
        <h3>Your Collections</h3>
        <section class="workspace_list">
        <ul class="entry_list">
        {% for collection in collections %}
            <li>
            <div>
                <a href="{{ url_for('routes.display_collection', title=collection['internal_title']) }}">{{ collection['title'] }}</a>
            </div>
            <div>
                <ul>
                    <li><a href="{{ url_for('routes.display_collection', title=collection['internal_title']) }}" class="edit_button" title="View &quot;{{ collection['title'] }}&quot;"><img src="{{ url_for('static', filename='icons/view.svg') }}"/></a></li>
                    <li><a href="{{ url_for('content.open_collection_editor',title=collection['internal_title']) }}" class="edit_button" title="Edit &quot;{{ collection['title'] }}&quot;"><img src="{{ url_for('static', filename='icons/edit.svg') }}"/></a></li>
                    <li><a href="{{ url_for('content.delete_collection', title=collection['internal_title']) }}" class="delete_button" title="Delete &quot;{{ collection['title'] }}&quot;"><img src="{{ url_for('static', filename='icons/delete.svg') }}"/></a></li>
                </ul>
            </div>
            </li>
        {% endfor %}
        </ul>
        </section>
    {% endif %}


{% endblock %}